---
import { Steps } from "@astrojs/starlight/components";

interface Props {
    config: IAllOptions;
}
const { config } = Astro.props;

export interface IOptionVariant {
    name: string;
    desc: string;
    price: number;
}

export interface IOption {
    name: string;
    variants: IOptionVariant[];
    default: number;
}

export interface IAllOptions {
    base_price: number;
    options: IOption[];
}
---

<p id="option_variant_config"></p>

<p id="price"></p>

<Steps>
    <ol>
        {
            config.options.map((o, o_index) => (
                <li>
                    <p>{o.name}</p>
                    {o.variants.map((ov, ov_index) => (
                        <div>
                            <input
                                type="radio"
                                id={"option_" + o_index.toString() + "_" + ov_index.toString()}
                                name={o_index.toString()}
                                value={ov_index}
                                class="data-option"
                            />
                            <label for={"option_" + o_index.toString() + "_" + ov_index.toString()}>
                                {ov.desc} (+{ov.price.toFixed(2)} $)
                            </label>
                        </div>
                    ))}
                </li>
            ))
        }
    </ol>
</Steps>

<script is:inline define:vars={{ config }}>
    // Установить значения по умолчанию для опций
    function setOptionsDefault() {
        for (let i = 0; i < config.options.length; i += 1) {
            let radio = document.querySelector(
                `#option_${i.toString()}_${config.options[i].default}`,
            );
            if (radio === null) {
                console.warn(
                    `Для опции "${config.options[i].name}" нельзя установить значение по умолчанию`,
                );
                continue;
            }

            radio.checked = true;
        }
        updateData();
    }

    function updateData() {
        const checkedVariants = document.querySelectorAll(".data-option:checked");
        let price = config.base_price;
        let option_variants = [];
        checkedVariants.forEach((ov) => {
            let option_index = parseInt(ov.name);
            let option_variant_index = parseInt(ov.value);

            price += config.options[option_index].variants[option_variant_index].price;
            option_variants.push(config.options[option_index].variants[option_variant_index].name);
        });

        document.querySelector("#price").textContent = `Стоимость: ${price.toFixed(2)} $`;

        let option_string = option_variants.join("-");
        document.querySelector("#option_variant_config").textContent =
            `Конфигурация: ${option_string}`;
    }

    window.onload = function () {
        setOptionsDefault();
    };

    const buttons = document.querySelectorAll(".data-option");
    buttons.forEach((button) => {
        button.addEventListener("click", () =>
            // alert(button.name)
            updateData(),
        );
    });
</script>
